body {
    padding: 0;
    margin: 0;
    font-family: inherit;
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  
 .custom-color {
     color: #00BFB0;
 }

  .td {
    text-align: center;

    border: none !important;
}
th, td {
    padding: 10px;
}
    
.bg-light {
    background-color: #fff;
}
.bg-dark {
    background-color: #ddd;
}
.info {
    display: inline-flex;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info-left {
    width: 50%;
   
}
.info-right {
    width: 50%;
    
}
.information {
    padding-left: 100px;
}
.hero {
    display: inline-flex;
    width: 100%;
    padding-top: 60px;
    background-color: black;
    padding-bottom: 30px;
}
.hero-left {
    width: 50%;
    margin-left: 100px;
}

.header {
    font-size: 50px;
    color:  #00BFB0;
    padding-top: 20px;
}



.loge-text {
    
    text-align: right;
}
.tittle {
    font-size: 30px;
  margin-bottom: 0px;
   display: inherit;
}

hero-right-2 {
    width: 50%;
    color: #fff;
    margin-right: 100px;
    text-align: center;
}
.sub-tittle-2 {
    color: #fff;
}
.hero-right-2 {
    width: 50%;
    color: #fff;
    margin-right: 100px;
    text-align: center;
}
.logo-2 {
    width: 40%;
    
    text-align: center;
}
.icon-2 {
    padding: 15px;
}
.icon-bottom-2 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.icons-2 {
    text-align: center;
}
.info-bottom {
    display: inline-flex;
    width: 100%;

}
.info-bottom-left{
    width: 79%;
}
.info-bottom-right {
    widows: 21%;;
}
.payment- {
    font-size: 20px;
}
.payment {
    margin-left: 100px;
    margin-right: 65px;
    border-bottom: 3px solid;
    border-color: #00BFB0;
    margin-top: -20px;
}

.bg-color {
    background-color: #00BFB0;
    padding-left: 20px;
    padding-right: 20px;
}
.account {
    margin-left: 100px;
    padding-top: 10px;
}
.thanks {
    margin-left: 100px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.condition {
    margin-left: 100px;
    
}
.footer {
    display: inline-flex;
    width: 100%;
}
.footer-left {
    width: 50%;
}
.footer-right {
    width: 50%;
    
        text-align: end;
        margin-right: 100px;
        padding-top: 35px;
    
}
.company-name {

}